.el-table .warning-row {
    background: oldlace;
}
.upload-file .el-tag + .el-tag {
  margin-left: 10px;
}
.upload-file .button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.upload-file .input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

.filter-form .el-form-item {
  margin-bottom: 10px;
}